:root {
    --text-color: black;
}

header {
    padding-block: 0.25rem;
    border-bottom: 1px solid var(--text-color);
}

.main-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.main-nav__item {
    border-bottom: 2px solid transparent;
    &.active {
        border-bottom-color: var(--text-color);
    }

    & a {
        display: flex;
        gap: 0.25em;
        padding: 0.5em;
        color: var(--text-color);
        text-decoration: none;
    }
}

.intro {
    max-width: 30em;
    margin: auto;
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .preformatted {
        white-space: pre;
    }
}

.intro__poem {
    white-space: pre-line;
}

.intro__attribution {
    align-self: flex-end;
}

.blog-history-nav {
    display: flex;
    justify-content: center;
    gap: 0.25rem;
    flex-wrap: wrap;
}

.blog-history-nav__label {
    flex: 100%;
    text-align: center;
}

.blog-history-nav__list {
    display: inline-flex;
    gap: 0.25rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.blog-history-nav a {
    width: 1.8em;
    height: 1.8em;
    text-decoration: none;
    display: grid;
    place-items: center;
    border-radius: 0.25rem;
    color: black;
    background-color: silver;

    :is([class$=__next], [class$=__previous], :has(> a[aria-current])) & {
        background-color: black;
        color: white;
    }
}