{%- unless display_title -%}
    {%- assign display_title = title | escapeHtml -%}
{%- endunless -%}

<h1 class="post__title p-name"><a class="u-url" href="{{ page.url }}">{{ display_title }}</a></h1>
<time
    class="post__date dt-published"
    datetime="{% iso_date page.date %}"
>{% formatted_date page.date %}</time>